.input input {
    @apply text-[16px] m-0 p-0 text-ellipsis overflow-hidden !important;
    -webkit-appearance: none !important;
}

.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.input span {
    @apply bg-none border-none outline-none !important;
}
